@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   
}
.titular h2{
    position: relative;
	top: 500px;
}
a {
	text-decoration: none; 
}

li{
	list-style: none;
}
.contenedor{
	width: 98%;
	max-width: 1280px;
	margin: auto;
}
header{
	background: url(editado.jpg);
	height: 80vh;

}

header.menu{
	display: flex;
	justify-content: space-between;
	padding top:20px ;
}

header .logo-y-menu{
	display:flex ;
	align-items:  center;
}

nav ul{
	display: flex;
}
nav ul li{
	margin: 0 28px;
}
header .boton a, {
	background: lightseagreen;
	color: #000;
	padding: 20px 40px;
	line-height: 50px;


}
header .titular{
	margin-top: 30vh;
	color: #fff;

}
h1{
	font-size: 60px;
	width: 80%;
}
#discografia{
	background: #000;
	color: #fff;
	padding: 60px  0;

}

#discografia h4{
	border: 1px solid #ccc;
	width: 130px;
	padding: 10px;
	border-radius: 10px;
}
#discografia .contenedor{
	display: flex;
	align-items: center;
}
#discografia span{
	color: lightseagreen;
	text-decoration: underline;

}
#discografia h2{
	font-size: 50px;
}
#discografia p{
	font-size: 14px;
	line-height: 27px;

}
.foto img{
	
	height: 500px;

}
.contenedor-textos{
	display: flex;

}

#about h4{
	color: #000;
	border: 1px solid #000;
	text-align:center ;
}
#about p{
	font-family: "Jost";
}
.negro{
	background: #aaa !important;
}

#about{
	padding: 60px 0;
}